//banner
.main_banner {
    padding-top: 162px;
    position: relative;
    .iframe_wrap {
        width: 100%;
    }
    .carousel {
        display: flex;
        justify-content: center;
        position: relative;
        .carousel-inner {
            &:before {
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(8, 13, 23, 0.61) 0%, rgba(8, 13, 23, 0.61) 100%) no-repeat;
                z-index: 1;
            }
        }
    }
    .carousel-item {
        > img {
            width: 100%;
            max-height: calc(100vh - 170px);
            height: 600px;
            object-fit: cover;
        }
    }
    iframe,
    video,
    .wp-video {
        width: 100% !important;
        max-height: calc(100vh - 150px);
        min-height: 500px;
        -o-object-fit: cover;
        object-fit: cover;
        position: relative;
        z-index: 9;
    }
    .caption_wrap {
        display: flex;
        justify-content: center;
        @media (max-width: 767px) {
            height: 85vh;
        }
    }
    .carousel-caption {
        position: absolute;
        width: 900px;
        top: 10%;
        z-index: 9;
        margin: 0 auto;
        display: table;
        left: 0;
        right: 0;
        text-align: center;
        max-width: 900px;
        top: 50%;
        transform: translateY(-50%);
        h2 {
            color: #fff;
            text-shadow: none;
            margin-bottom: 15px;
            font-size: 58px;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 20px;
            span {
                font-size: 36px;
                font-weight: normal;
                display: block;
            }
        }
        p {
            color: $white;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            font-family: $primary-font;
        }
        .btn_sm {
            margin-top: 15px;
        }
        @include md {
            text-align: center;
            h1 {
                // font-size: 36px;
            }
        }
        @media (min-width: 768px) {
            // bottom: 40px;
            // top: auto;
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 46px;
        height: 50px;
        border-radius: 0px 5px 5px 0px;
        // background: rgba(255, 255, 255, 0.50);
        top: 50%;
        opacity: 1;
        transform: translateY(-50%);
        z-index: 10;
        &:hover {
            // background: $secondary;
            img {
                filter: invert(47%) sepia(90%) saturate(3087%) hue-rotate(185deg) brightness(101%) contrast(92%);
            }
        }
    }
    .carousel-control-next {
        right: 40px;
        img {
            @include rotate;
        }
    }
    .carousel-control-prev {
        left: 40px;
    }
    .carousel-indicators {
        bottom: 8px;
        button {
            width: 13px;
            height: 14px;
            border-radius: 50%;
            background: #fff;
            opacity: 1;
            border: 1px solid var(--White, #fff);
            background: #fff;
            margin: 0 4px;
            &.active {
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.banner-caption {
    max-width: 650px;
    margin-bottom: 30px;
    h1 {
        color: #fff;
        text-transform: uppercase;
        font-variant: all-small-caps;
    }
    p {
        font-size: 21px;
        color: #fff;
    }
}

.btn_main {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    border-radius: 5px;
    border: 2px solid $secondary;
    padding: 8px 24px;
    text-decoration: none;
    img {
        margin-left: 8px;
    }
    &:hover {
        background: $secondary;
        color: #fff;
        border-color: $secondary;
        text-decoration: none;
        img {
            filter: brightness(0) invert(1);
        }
    }
}

.banner-buttons {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .bt_col {
        max-width: 20%;
        flex: auto;
        &:not(:last-child) {
            border-right: 0.5px solid var(--White, #fff);
        }
        @media (max-width: 1024px) {
            max-width: 100%;
            border-right: none;
        }
    }
    .btn_card {
        padding: 24px;
        background: #015fc9;
        height: 100%;
        .btn_icon {
            width: 72px;
            height: 72px;
            min-width: 72px;
            min-height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            // background: $white;
            margin-bottom: 16px;
            // margin-right: 16px;
            border-radius: 50%;
            border: 2px solid var(--White, #fff);
            i{
                font-size: 32px;
            }
            @include md {
                // width: 30px;
                // height: 30px;
                // min-width: 30px;
                // min-height: 30px;
            }
        }
        .btn_header {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            text-align: center;
            color: $white;
            font-family: $primary-font;
            max-width: 270px;
            margin: auto;
        }
        p {
            color: $white;
        }
        // &.red {
        //     background: #ab1c21;
        //     &:hover {
        //         background: #9b1a1f;
        //     }
        // }
        // &.green {
        //     background: $green;
        //     &:hover {
        //         background: #496412;
        //     }
        // }
        // &.purple {
        //     background: $purple;
        //     &:hover {
        //         background: #603372;
        //     }
        // }
        // &.blue {
        //     background: #005598;
        //     &:hover {
        //         background: #014275;
        //     }
        // }
        &:hover {
            background: #052e70;
        }
    }
    @include md {
        .btn_card {
            padding-left: 16px;
            padding-right: 16px;
            .btn_header {
                // flex-direction: column;
                // align-items: start;
                .btn_icon {
                    img {
                        // max-width: 22px;
                    }
                }
            }
            p {
                display: none;
            }
        }
    }
}

@media (max-width: 1199.9px) {
    .main_banner {
        padding-top: 100px;
        flex-direction: column;
        .carousel-caption {
            left: 50px;
            right: 50px;
            max-width: calc(100% - 150px);
        }
        .carousel-control-prev {
            left: 10px;
        }
        .carousel-control-next {
            right: 10px;
        }
    }
}

@media (max-width: 767px) {
    .main_banner {
        .carousel-item {
            > img {
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                z-index: 0;
                min-height: 400px;
                position: absolute;
                max-height: 100%;
            }
        }
        iframe,
        video {
            height: 400px;
            object-fit: cover;
            z-index: 0;
            min-height: 400px;
            max-height: 400px;
        }
        .carousel-caption {
            // bottom: 40px;
            // top: auto;
            position: relative;
            bottom: unset;
            top: unset;
            transform: unset;
            position: relative;
            padding: 32px 0;
            left: unset;
            right: unset;
            align-self: center;
            h2 {
                font-size: 36px;
                font-weight: 500;
                span {
                    // font-size: 28px;
                }
            }
            p {
                font-size: 18px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .main_banner .carousel-item > img {
        min-height: 500px;
    }
}
