//footer
.footer {
    border-top: 5px solid #052e70;
    background: #e1e0e0;
    color: #fff;
    padding: 42px 0 32px 0;
    .footer_row {
        display: grid;
        grid-template-columns: 0.8fr 1fr 1fr;
        @include md {
            grid-template-columns: 1fr;
        }
    }
    .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        max-width: 400px;
        &:last-child {
            margin-left: auto;
            @include md {
                margin-left: 0;
                padding-top: 12px;
            }
        }
        @include md {
            max-width: 100%;
        }
    }
    .footer-logo {
        margin-bottom: 16px;
        img {
            width: 248.067px;
        }
    }
    .footer-social {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        li {
            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                background: #fff;
                border-radius: 100px;
                transition: background 0.2s;
                img {
                    max-width: 25px;
                }
                &:hover {
                    background: #0077d9;
                    img {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
                            brightness(102%) contrast(102%);
                    }
                }
            }
        }
    }
    h2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        color: $primary;
        margin-bottom: 16px;
    }
    .footer-contact {
        margin-bottom: 16px;
        // display: grid;
        grid-template-columns: 33px auto;
        p {
            font-size: 16px;
            margin-bottom: 0;
            color: #000;
            a {
                color: #000;
                font-weight: normal;
                text-decoration: none;
                &:hover {
                    color: $skyblue;
                }
            }
        }
        .footer-icon {
            width: 18px;
            height: 18px;
            display: inline-block;
            align-items: center;
            justify-content: center;
            img {
                width: 18px;
                height: 18px;
            }
        }
        .con_info {
            display: inline;
        }
        span {
            font-size: 18px;
            line-height: 1.3;
        }
        .font-weight-bold {
            font-family: "Inter", Arial, sans-serif;
            font-weight: 700;
        }
        strong {
            margin-bottom: 10px;
            font-weight: 500;
            color: #052e70;
            font-size: 18px;
        }
        @media (min-width: 1024px) {
            width: 50%;
            float: left;
        }
    }
    .footer-links {
        li {
            margin-bottom: 8px;
            a {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                text-decoration: none;
                font-weight: normal;
                &:hover {
                    color: #0077d9;
                }
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    .footer-divider {
        border-top: 1px solid rgba(255, 255, 255, 0.6);
        margin: 24px 0 20px 0;
    }
    .footer-copyright {
        margin-top: 42px;
        color: #000;
        font-weight: 400;
        font-size: 15px;
        a {
            color: #000;
            font-weight: 400;
            &:hover {
                color: $skyblue;
            }
        }
        .separator {
            margin: 0 5px;
        }
    }
    @media (max-width: 767.98px) {
        padding: 42px 27px 32px;
        .footer-social {
            margin-bottom: 32px !important;
        }
    }
}
